/* form */
@media (max-width: 1199px) {
    .logo {
        max-width: 293px;
        margin: auto;
    }

    .login-head {
        font-size: 18px;
    }

    label {
        font-size: 13px;
    }

    .input {
        font-size: 13px;
    }
}

@media (max-width: 991px) {
    a {
        font-size: 13px;
    }

    .btn-block {
        width: auto;
        height: 26px;
    }

    .login-div {
        padding: 20px;
    }

    .sales-2 p {
        font-size: 13px;
    }

    .sales-1 p {
        font-size: 13px;
    }

    .delivery-address-name {
        width: 100%;
    }

    .orderd-items {
        padding: 10px;
        padding-top: 10px;
    }

    .edit-profile-right-order {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .loginimg {
        max-width: 237px;
        margin: auto;
        margin-top: 20px;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .login-row {
        margin: 26px 0 0;
    }

    .login-div {
        padding: 18px;
    }

    .login-head {
        font-size: 16px;
    }

    .logo {
        max-width: 265px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }

    .react-tabs {
        margin-top: 10px;
    }

    .login-head {
        font-size: 14px;
    }

    .login-div .form-control {
        width: 100%;
        height: 33px;
    }

    label {
        font-size: 12px;
    }

    a {
        font-size: 12px;
    }

    .btn-block {
        width: auto;
        height: 27px;
        border-radius: 5px;
    }

    .button-div {
        margin: 0px -8px 0;
    }

    .page-height {
        position: relative;
    }

    .login-div-parent {
        position: static;
    }

    .person-information {
        display: block;
    }

    .your-information h2 {
        font-size: 16px;
        margin-bottom: 0;
    }

    .delivery-address-name h3 {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .delivery-address-name h4 {
        font-size: 14px;
    }

    .your-information button {
        font-size: 16px;
    }

    .shippingaddress h2 {
        font-size: 16px;
    }

    .shippingaddress button {
        font-size: 16px;
    }

    .delivery-address-name {
        width: 100%;
    }

    .delivery-address-name.address h3 {
        font-size: 14px;
    }

    .place-order button {
        font-size: 11px;
        padding: 15px 19px;
    }

    .place-order p {
        font-size: 14px;
    }

    .place-order p span {
        font-size: 16px;
    }

    .place-order {
        justify-content: space-between;
    }

    .orderd-items {
        display: block;
    }

    .edit-profile-right-order {
        width: 100%;
    }

    .orderd-items-img {
        width: 100%;
    }

    .orderd-items-img-inner {
        justify-content: center;
        width: 100%;
    }

    .delivery-date-inner .delivery-date {
        margin-left: 0;
    }

    .delivery-date {
        width: 100%;
    }

    .orderd-items {
        margin-top: 10px;
    }
}

@media (max-width: 575px) {
    .logo {
        max-width: 238px;
    }
}

/* form : end */

/* Footer */
@media (max-width: 1199px) {
    .button-div-footer .btn-block {
        right: -19px;
    }
}

@media (max-width: 991px) {
    .button-div-footer .btn-block {
        right: 15px;
    }
}

@media (max-width: 767px) {
    .footer-main {
        flex-wrap: wrap;
    }

    .footer-contents {
        width: 50%;
    }

    .footer-contents ul li {
        padding: 7px;
        font-size: 13px;
    }

    .footer-contents ul li h3 {
        font-size: 14px;
    }

    .footer-link p {
        font-size: 13px;
    }

    .footer-link p span {
        font-size: 13px;
    }
}

@media (max-width: 575px) {
    .footer-main {
        display: block;
        margin: auto;
    }

    .footer-contents {
        width: 100%;
    }

    .button-div-footer .btn-block {
        width: auto;
        height: 28px;
        top: 20px;
    }

    .footer-email {
        width: 100%;
        height: 37px;
    }
}

/* Footer : end */
/* Header */
@media (max-width: 1199px) {
    .search form {
        width: 450px;
    }

    .active.progressbar .inner-h4 h4 {
        font-size: 16px;
    }

    .advantage .inner-h4 h4 {
        font-size: 16px;
    }
    .myorder-main .dropdown-menu {
        transform: translate(608px, 0px) !important;
    }
}

@media (max-width: 991px) {
    .responsive-user {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .middle-header {
        margin: 10px 0;
    }

    .menu-inner {
        margin-bottom: 5px !important;
    }

    .menu-inner:hover {
        border-bottom: 1px solid #000;
    }

    .search form {
        width: 100%;
        height: 30px;
    }

    .search form input[type="text"] {
        height: 30px;
        padding: 14px;
    }

    .search button {
        width: 38px;
    }

    .css-1u5rm2j {
        width: 100% !important;
    }

    .footer-contents {
        width: 50%;
    }

    .footer-contents ul li h3 {
        font-size: 14px;
    }

    .delivery-address {
        display: block;
        padding: 10px 20px;
    }

    .shipping-address {
        width: 100%;
    }

    .billing-address {
        width: 100%;
    }

    .popup-button {
        text-align: center;
    }

    .payment-method {
        padding: 10px 20px;
    }

    .advantage.progressbar::after {
        right: -8%;
    }

    .listing {
        display: block;
    }

    .edit-profile-right {
        padding: 0;
    }

    .edit-menubar {
        height: auto;
        margin-bottom: 10px;
    }

    .listening-content-left {
        width: 100%;
    }

    .editprofile-inner {
        width: 100%;
    }

    .edit-menubar {
        width: 100%;
    }

    .edit-profile-right-content .first-name button {
        height: 35px;
        font-size: 16px;
    }

    .edit-profile-right-content {
        padding: 20px 0px 20px 15px;
    }

    .editprofile.active {
        width: 100%;
    }

    .order-details-body {
        display: block;
    }

    .listing-categories {
        font-size: 12px;
    }

    .order-details {
        width: 100%;
    }

    .order-details-inner h4 {
        font-size: 16px;
    }

    .person-information-1 {
        width: 100%;
    }

    .added-item-img img {
        width: 100% !important;
    }

    .product-right-cart {
        width: 100%;
    }

    .track-order {
        width: 100%;
    }

    .add-new-address {
        margin: 20px 0 20px !important;
        margin: auto!important;
    }

    .track-order {
        padding: 0;
    }

    .trending-products {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .review-1 {
        display: block;
    }

    .person img {
        height: 50px;
        width: 50px;
    }

    .person-review p {
        width: 100%;
        font-size: 12px;
    }

    .textarea {
        width: 100%;
    }

    .popup-button-textarea {
        width: 100%;
    }

    .product-main img {
        width: 100%;
        margin-left: 0;
        height: auto;
    }

    .delivery-address-name .dropdown-menu {
        transform: translate(20px, 17px) !important;
    }

    .listing {
        display: block !important;
    }
    .add-new-address:hover {
        margin: 10px auto!important;
    }
    .myorder-main .dropdown-menu {
        transform: translate(649px, 0px) !important;
    }
    .popup-main .h3 {
        font-size: 20px;
    }
    .popup-buttons .cancel {
        font-size: 16px;
    }
    .popup-buttons .logout {
        font-size: 16px;
    }
}

@media (min-width: 768px) and (max-width: 814px) {
    .advantage.progressbar::after {
        right: -11%;
    }
}

@media (max-width: 767px) {
    .add-new-address {
        font-size: 12px;
    }
    .myorder-main .order {
        position: absolute;
        right: 0;
    } 
    .wallet-transaction {
        color: #000;
        font-size: 18px;
    }

    .wallet-content-head h5 {
        font-size: 13px;
    }

    .wallet-content-head h4 {
        font-size: 14px;
    }

    .wallet-head h4 {
        font-size: 16px;
    }

    .edit-profile-right h3 {
        font-size: 18px;
    }

    .shipping-address h2 {
        font-size: 16px;
    }

    .footer-contents ul li h4 {
        font-size: 14px;
    }

    .advantages-shipping {
        margin: 10px 0;
    }

    .shipping-address .name label {
        font-size: 14px;
        margin-top: 5px;
    }

    .address-1 label {
        font-size: 14px;
        margin-top: 5px;
    }

    .address-2 label {
        font-size: 14px;
    }

    .billing-address h2 {
        font-size: 16px;
    }

    .billing-address .name label {
        font-size: 14px;
        margin-top: 5px;
    }

    .shipping-address .name input {
        margin: 5px 0 10px 0;
    }

    .address-2 input {
        margin: 5px 0 10px 0;
    }

    .address-1 input {
        margin: 5px 0 10px 0;
    }

    .billing-address .name input {
        margin: 5px 0 10px 0;
    }

    .submit-button button {
        font-size: 14px;
        padding: 8px 15px;
        margin: auto;
    }

    .footer-contents {
        width: 100%;
    }

    .inner-h4 {
        padding: 10px 0 10px 0;
    }

    .payment-method h2 {
        font-size: 14px;
    }

    .payment-method .name label {
        font-size: 14px;
        margin-top: 5px;
    }

    .expiry-date label {
        font-size: 14px;
        margin-top: 5px;
    }

    .checkbox label {
        font-size: 12px;
        line-height: 1.6;
    }

    .listing {
        display: block;
    }

    .edit-profile-right {
        padding: 0;
    }

    .edit-menubar {
        height: auto;
        margin-bottom: 10px;
    }

    .listening-content-left {
        width: 100%;
    }

    .editprofile-inner {
        width: 100%;
    }

    .edit-menubar {
        width: 100%;
    }

    .edit-profile-right-content .first-name button {
        height: 35px;
        font-size: 16px;
    }

    .edit-profile-right-content {
        padding: 20px 0px 20px 15px;
    }

    .added-item-img {
        width: 25%;
        margin-right: 20px;
    }

    .heading {
        font-size: 13px;
    }

    .added-item-img {
        width: 25%;
    }

    .quantities {
        width: 50%;
    }

    .product-right-cart {
        width: 50%;
    }

    .added-item-img {
        margin-right: 20px;
    }

    .stock-details h5 {
        display: none;
    }

    .trending-products {
        display: block;
    }

    .product-description {
        display: block;
    }

    .product-left {
        width: 100%;
    }

    .product-right {
        width: 100%;
    }

    .product-main {
        width: 100%;
    }

    .product-main img {
        width: 100%;
        margin-left: 0;
        height: auto;
    }

    .product-right-contents .heading {
        font-size: 18px;
    }

    .rupee h5 {
        font-size: 20px;
    }

    .trending-product h3 {
        font-size: 16px;
    }

    .pagination .active {
        font-size: 12px;
        width: 20px;
        height: 20px;
    }

    .pagination .inactive {
        font-size: 12px;
        width: 20px;
        height: 20px;
    }

    .trending-offer {
        width: 30px;
        height: 30px;
        font-size: 12px;
        top: 0;
    }

    .trending-products-inner a img {
        width: 100px;
    }

    .trending-products-inner {
        position: relative;
    }

    .review-inner {
        display: block;
    }

    .review-inner .customer-review {
        width: 100%;
    }

    .review-inner .customer-rating {
        width: 100%;
    }

    .review-inner .customer-rating h4 {
        font-size: 18px;
    }

    .review-1 {
        display: block;
    }

    .person img {
        height: 50px;
        width: 50px;
    }

    .person-review p {
        width: 100%;
        font-size: 12px;
    }

    .progressbar-rate>div {
        width: 100% !important;
    }

    .textarea {
        width: 100%;
    }

    .popup-button-textarea {
        width: 100%;
    }

    .shopping-cart {
        font-size: 16px;
    }

    .shopping-cartt {
        font-size: 16px;
    }

    .added-item-1 img {
        max-width: 50%;
        margin: auto;
    }

    .product-right-contents .heading {
        font-size: 14px;
    }

    .delivery-detail h4 {
        font-size: 12px;
    }

    .product-right-contents .heading {
        width: 20%;
    }

    .cart-buttons {
        margin-right: 0;
        display: flex;
        justify-content: space-between;
    }

    .placeorder {
        font-size: 14px;
        height: 36px;
    }

    .Shopping {
        font-size: 14px;
        height: 36px;
    }

    .added-item-1 {
        padding: 10px;
    }

    .delivery-address-name .dropdown-menu {
        transform: translate(20px, 17px) !important;
    }
    .myorder-main .dropdown-menu {
        transform: translate(0, 0px) !important;
    }

}

@media (max-width: 425px) {
    .advantage.progressbar::after {
        right: -21%;
    }
}

/* Header : end */