* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body {
    overflow-y: scroll;
}

img {
    display: block;
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

.header-main {
    border-bottom: 1px solid #2270AD;
}

.body-login {
    background: url(../images/wallpaper.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display: block;
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}

.wrapperr {
    display: block;
    width: 95%;
    max-width: 1420px;
    margin: 0 auto;
}

.header-container {
    display: block;
    width: 80%;
    max-width: 1497px;
    margin: 0 auto;
}

/* FORM */
.page-height {
    min-height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.wrapper {
    display: block;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}

.btn-block {
    display: block;
    width: 86px;
    height: 32px;
    border-radius: 10px;
    border: none;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btn-primary {
    background: #0370C4;
    margin-left: 12px;
}

.login-div form button {
    margin-left: auto;
}

.button-div {
    margin: 0px -9px 0;
}

.login-div .form-control {
    width: 100%;
    height: 37px;
    border: 1px solid #bbbbbb;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
}

.react-tabs__tab:focus:after {
    display: none;
}

label {
    color: #666;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 6px;
}

input {
    margin-bottom: 10px;
}

.form-control:focus {
    border-color: none;
    outline: none;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6); */
    box-shadow: none;
}

.col-login a {
    color: #1178C8;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login-head {
    color: #025391;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.forgotpassword-head {
    color: #025391;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.8;
    margin-bottom: 10px;
    margin-top: 25px;
    border-bottom: 1px solid #025391;
    text-align: center;
}

.login-div.wrapper.logo {
    width: 319px;
    height: auto;
    margin: auto;
    display: block;
}

.react-tabs__tab .login-head {
    color: rgba(102, 102, 102, 0.6);

}

.react-tabs__tab {
    border: none !important;
    border-bottom: 1px solid #cccccc !important;
    margin-top: 1px;
    width: 50%;
}

.react-tabs__tab:focus {
    border: none !important;
    border-bottom: 1px solid #EBE8E8 !important;
    margin-top: 1px;
    /* outline: auto; */
}

.react-tabs__tab.react-tabs__tab--selected {
    border: none !important;
    border-bottom: 1px solid #025391 !important;
    margin-top: 1px;
    width: 50%;
    background: transparent;
}

.react-tabs__tab.react-tabs__tab--selected:focus {
    border: none !important;
    border-bottom: 1px solid #025391 !important;
    margin-top: 1px;
    /* outline: auto; */
}

.react-tabs__tab.react-tabs__tab--selected .login-head {
    color: #025391;
}

.react-tabs__tab-list {
    text-align: center;
}

.loginimg {
    height: auto;
    max-width: 589px;
}

.login-row {
    margin: 80px 0 0;
    /* align-items: center; */
}

.login-div {
    padding: 40px;
}

.eye-control {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;
}

.mt-2 {
    margin-bottom: 0.7rem;
}

#otp {
    margin-left: -5px;
    margin-right: -5px;
}

/* FORM */


/* Header */
.top-header-background {
    background: #1B6298;
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 7px 0;
}

.top-header-left {
    width: 50%;
}

.top-header-right {
    width: 50%;
}

.top-header-left-sections {
    display: flex;
    width: 100%;
    align-items: center;
}

.country-selection {
    display: flex;
    align-items: center;
}

.country-selection img {
    width: 16px;
    height: auto;
}

.contact-info {
    /* width: 50%;
     */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info img {
    width: 10px;
    height: auto;
}

.select {
    background: transparent;
    border: none;
    color: #ffffff;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6;
    margin-left: 5px;
}

.phonenumber {
    color: #ffffff;
    width: 25%;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6;
    margin-left: 5px;
}

.select option {
    color: #666;
    border: none;
}

.location {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.top-header-right-sections {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.address {
    color: #ffffff;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6;
    margin-left: 5px;
}

.down-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}


.home-logo img {
    width: 220px;
}

.search form {
    display: flex;
    justify-content: center;
    width: 500px;
}

.search form input[type=text] {
    width: 100%;
    height: 36px;
    margin: 0;
    background: #fff;
    border: 1px solid #2270AD;
    border-radius: 32px 0 0 32px;
    font-size: 12px;
    font-weight: 400;
    color: rgba(109, 109, 109, 0.80);
    padding: 15px;
    padding-right: 46px;
}

.search form input[type=text]:focus {
    outline: 0;
}

.search button {
    color: #FFF;
    float: right;
    padding: 6px 10px;
    /* border-radius: 0 6px 6px 0px; */
    border-radius: 0 32px 32px 0;
    width: 36px;
    background: #2270AD !important;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.location-search {
    padding: 12px 6px;
    background: #2270AD !important;
    color: #FFF;
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    text-align: center;
    cursor: pointer;
}

.search button:hover {
    background: #ccc;
}

.upper-menu ul li {
    list-style: none;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.upper-menu ul li a span {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.upper-menu ul li img {
    width: 15px !important;
    object-fit: contain !important;
    height: 14px;
    object-position: center;
}

.upper-menu ul {
    display: flex;
    justify-content: flex-end;
}

.upper-menu ul li a {
    display: flex;
    align-items: center;
    gap: 5px;
    line-height: 24px;
    text-decoration: none;
    color: #aaaaaa;
    font-size: 12px;
    cursor: pointer;
    position: relative
}

/* Header : end */

/* Navbar */
.navbar-main {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.nav-section-1 {
    display: flex;
    background-color: #0370C4;
    width: 225px;
    height: auto;
    align-items: center;
    padding: 22px;
}

.nav-section-2 {}

.nav-section-3 {}

.search-button {
    margin-left: -5px;
}

/* Menu-toggler */
.hamburger {
    width: 60px;
    /* height: 122px; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: relative;
}

.hamburger-init {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
    outline: none;
}

.menu {
    position: relative;
    width: 17px;
    height: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.menu .bar1,
.menu .bar2,
.menu .bar3 {
    width: 100%;
    height: 2px;
    background: #fff;
    transition: all .3s;
}

.hamburger-init:checked+.menu .bar1 {
    transform: translateY(5px) rotate(45deg);
}

.hamburger-init:checked+.menu .bar2 {
    opacity: 0;
}

.hamburger-init:checked+.menu .bar3 {
    transform: translateY(-7px) rotate(-45deg);
}

input[type=file]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus {
    outline: none;
    outline-offset: none;
}

.menu-toggle {
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Menu-toggler : end */

.menu-sub ul {
    display: flex;
    gap: 29px;
    align-items: center;
    margin: 0;
    justify-content: center;
}

.menu-sub ul li {
    list-style: none;
}

.add {
    background-color: #e81211 !important;
    position: absolute;
    color: white;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    right: -10px;
    top: -9px;
    font-size: 8px;
}


.menu-sub ul li a {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.upper-menu-cart ul li {
    list-style: none;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 22px;
}

.upper-menu-cart ul li:first-child {
    margin-left: 0;
}

.upper-menu-cart ul li a span {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.upper-menu-cart ul li img {
    width: 15px !important;
    object-fit: cover !important;
    height: 14px;
    object-position: top;
}

.upper-menu-cart ul {
    display: flex;
    justify-content: flex-end;
}

.upper-menu-cart ul li a {
    display: flex;
    align-items: center;
    gap: 13px;
    line-height: 24px;
    text-decoration: none;
    color: #000;
    font-size: 12px;
    cursor: pointer;
    position: relative
}

/* Navbar : end */

/* Banner */
.banner img {
    margin-top: 1px;
    height: 280px;
    object-fit: cover;
}

/* Banner : End */

/* advantages */
.advantages {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-top: 5px;
}

.advantage-1 {
    width: 25%;
    height: auto;
    background: #1B6298;
    position: relative;
    z-index: 1;
}

.advantage-1.arrow::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../images/angleright.svg');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    right: 0;
    top: 0;
    z-index: -1;
}

.inner-img {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 46px 20px 26px;
}

.inner-image {
    overflow: hidden;
    background: #D5E4EF;
    border-radius: 50%;
    overflow: hidden;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-image img {
    width: 32px;
}

.inner-contents h3 {
    color: #FFF;
    font-family: Titillium Web;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4;
    text-align: left;
    padding: 0;
    margin: 0;
}

.inner-contents p {
    color: #FFF;
    font-size: 14px;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

/* advantages : end */
/* courosal */
.courosal-main .css-1qzevvg {
    display: none;
}

.courosal-main h3 {
    color: #025391;
    font-family: Titillium Web;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-align: center;
}

.courosal-main .css-1fzpoyk img {
    object-fit: scale-down;
    display: block;
    max-height: 100%;
    width: 200px;
    height: auto;
}

.button-div-corosal {
    margin: 0px -9px 0;
    float: right;
}

/* courosal : end */

/* Categories start */
.categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-img {
    position: relative;
}

.category-img img {
    border-radius: 15px;
}

.glass {
    border-radius: 29px;
    background: linear-gradient(1deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    width: 180px;
    height: auto;
    position: absolute;
    left: 30px;
    bottom: 23px;
}

.glass h4 {
    color: #001E35;
    font-family: Titillium Web;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 0;
}

.category-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 15px;
}

.price h5 {
    color: #AD0101;
    font-family: Titillium Web;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.stars {
    display: flex;
}

.stars .css-ryrseu-MuiRating-root {
    font-size: 1.8rem;
}

.categories-main {
    margin-top: 10px;
}

.categories .kVtMtA {
    left: -30px;
}

.categories .bhRnqO {
    right: -30px;
}

.categories .kVtMtA {
    top: calc(36% - 17.5px);
}

.categories .bhRnqO {
    top: calc(36% - 17.5px);
}

.category-button {
    border-radius: 10px;
    background: #0370C4;
    box-shadow: 0px 4px 22px -3px #4AB6FF;
    border: none;
    color: #FFF;
    font-family: Titillium Web;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 7px 16px;
    display: flex;
}

.category-button img {
    width: 22px;
    height: 20.314px;
    margin-right: 2px;
}

.button-corosal {
    position: relative;
    padding-top: 33px;
    display: flex;
    justify-content: center;
}

/* Categories start : end */

/* Trending product */
.trending-product-main {
    padding-top: 30px;
}

.trending-product h3 {
    color: #025391;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(217, 217, 217, 0.45);
    position: relative;
}

.trending-product h3::after {
    content: "";
    position: absolute;
    background: #0370C4;
    width: 230px;
    height: 1px;
    bottom: 0;
    left: 0;
}

.trending-products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.trending-brands {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.trending-brands .kVtMtA {
    left: -30px;
}

.trending-brands .bhRnqO {
    right: -30px;
}

.trending-products .kVtMtA {
    top: calc(33% - 17.5px);
    left: -30px;
}

.trending-products .bhRnqO {
    top: calc(33% - 17.5px);
    right: -30px;
}

.trending-contents {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 4px;
}

.trending-contents .price h5 {
    color: #000;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    padding-bottom: 11px;
}

.trending-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3px;
    margin-bottom: 15px;
}

.trending-price h5 {
    color: #AD0101;
    font-family: Titillium Web;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.trending-price h6 {
    color: #E2DFDF;
    font-family: Titillium Web;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-decoration-line: strikethrough;
    position: relative;
    margin: 0;
}

.trending-price h6:after {
    content: "";
    position: absolute;
    background: #E2DFDF;
    width: 34px;
    height: 1px;
    bottom: 6px;
    left: 0;
}

.button-category {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trending-offer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #50B165;
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.trending-products-inner {
    padding: 0px 20px;
}

.trending-products-inner a img {
    object-fit: contain;
    width: 200px;
    height: 200px;
}

.trending-brands a img {
    object-fit: contain;
    width: 200px;
    height: 276px;
}

.favorites {
    text-align: right;
}

.fa {
    font-size: 20px;
}

/* Trending product : end */

/* Footer */
.footer-div {
    background-color: #304F67;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-contents {
    margin-top: 30px;
    width: 25%;
}

.footer-contents ul {
    list-style: none;
}

.footer-contents ul li h3 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
}

.footer-contents ul li h4 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* .footer-contents ul li h3::after {
    content: "";
    position: absolute;
    background: #00AFFF;
    width: 135px;
    height: 2px;
    bottom: -7px;
    left: 0;
} */
footer {
    /* padding-top: 60px; */
}

.footer-contents ul li {
    color: #FFF;
    font-family: Montserrat;
    padding: 8px;
}

.location-footer {
    display: flex;
}

.address-footer {
    margin-left: 10px;
    margin-top: -4px;
}

.contact-info-footer {
    display: flex;
    align-items: center;
}

.phonenumber-footer {
    margin-left: 8px;
}

.social-media {
    display: flex;
}

.social-media .fa {
    margin: 0 20px 0 0px
}

.button-div-footer {
    position: relative;
}

.button-div-footer .btn-block {
    border-radius: 16px;
    background: #2391E7;
    width: 93px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 37px;
}

.footer-email {
    border-radius: 10px;
    background: #FFF;
    width: 270px;
    height: 40px;
    margin-top: 15px;
    border: none;
    padding: 10px;
    color: rgba(15, 15, 15, 0.08);
    font-family: Montserrat;
    font-size: 12px;
}

.footer-link p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 30px 0;
    text-align: center;
}

.footer-link p span {
    color: #2391E7;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Footer : end */

/* offer */

.tending-offer-contents h2 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
}

.tending-offer-contents h4 {
    margin-top: 50px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tending-offer-contents p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 175%;
}

.tending-offer-contents button {
    color: #000;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 5px;
    background: #FFF;
    border: none;
    padding: 10px 10px;
}

.trending-offers {

    border-radius: 12px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin: 10px;
}

.trending-offers:after {
    content: "";
    background: black;
    opacity: 26%;
    position: absolute;
    z-index: -1;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
}

.trending-offers .offer-img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}

.tending-offer-contents {
    padding: 16px 20px;
    position: relative;
    z-index: 1;

}

/* offer : end */

/* Pop-up */
.login-row-popup {
    margin: 10px 0 0;
}

.button-div-popup {
    margin: 0px;
}

.forgotpassword-head-popup {
    border: 0;
    color: #025391;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.8;
    margin-bottom: 10px;
    /* margin-top: 25px; */
    text-align: center;
}

.popup-contents select {
    margin: 0px 0 10px;
}

#city {
    width: 262px;
    height: 35px;
    border-radius: 10px;
    padding-left: 23px;
    color: #C5C5C5;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: 1px solid #000;
}

.select-popup {
    position: relative;
}

.select-popup label {
    position: absolute;
    top: 9px;
    left: 7px;
    font-size: 12px;
}

.popup-button {
    display: block;
    text-align: right;
}

.popup-button input {
    border-radius: 10px;
    background: #0370C4;
    color: #FFF;
    font-family: Titillium Web;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    padding: 6px 20px;
}

/* Pop-up : end */

/* Listing page */

.listing-main {
    margin-top: 25px;
}

.listing-categories {
    color: #025391;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 10px;
}

.listing-categories .active {
    color: #025391;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.listing-header span {
    margin-right: 10px;
}

.listing {
    margin-top: 20px;
    display: flex;
    width: 100%;
}

.listening-content-left {
    width: 30%;
}

.listening-content-right {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.plus {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #E2DFDF;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    margin: 0 10px;
    font-weight: 600;
}

.minus {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #E2DFDF;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin: 0 0px 0 10px;
}

.buttoncategory {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity {
    font-size: 16px;
    font-weight: bold;
}

.listening-content-inner {
    width: 296px;
    height: auto;
    background: #FFF;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.15);
    margin-top: 0;
    padding: 10px 15px;
}

.trending-products-list {
    padding: 0 20px;
    width: 33.33%;
    margin-top: 35px;
}

.trending-products-list a img {
    object-fit: contain;
    width: 200px;
    height: 200px;
}

.listening-content-inner .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listening-content-inner .heading .name {
    color: #1F394D;
    font-family: Titillium Web;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.listening-content-inner form label {
    color: #000;
    font-family: Titillium Web;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
}

.listening-content-inner form {
    margin-top: 10px;
}

.input {
    margin: 10px 0;
}

.listening-content-inner .range-slider {
    height: 2px;
    margin: 25px 0;
}

.listening-content-inner .range-slider .range-slider__thumb {
    width: 10px;
    height: 10px;
    border: 1px solid #2196f3;
    background: #ffffff;
}

.price {
    color: #000;
    font-family: Titillium Web;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.amount {
    color: #000;
    font-family: Titillium Web;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 10px;
}

.amount-slider {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter {
    color: #000;
    font-family: Titillium Web;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 1px solid #E6E6E6;
    background: #FFF;
    padding: 5px 10px;
}

.filter:hover {
    text-decoration: none;
    color: #000;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.pagination .active {
    color: #FFF;
    font-family: Titillium Web;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1B85D7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 0px
}

.pagination .inactive {
    color: #665D5D;
    font-family: Titillium Web;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E7E9EB;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 0px
}

/* Listing page : end */

/* Product description */
.product-description-main {
    margin-top: 25px;
}

.product-description {
    width: 100%;
    display: flex;
    margin: 20px 0;
    /* justify-content: space-between; */
}

.product-description-left {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.product-description-right {
    width: 40%;
}

.product-left {
    display: flex;
    width: 60%;
}

.product-varient-img {
    margin: 20px 0;
}

.product-varient-img img {
    width: 100%;
    margin: 15px 0;
}

.product-main img {
    width: 85%;
    margin-left: 50px;
}

.product-right {
    width: 40%;
}

.product-right-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-right-contents .heading {
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 50%;
}

.share-icons .fa {
    margin: 0 10px;
    cursor: pointer;
}

.product-right .stars {
    margin: 15px 0;
}

.rupee h5 {
    color: #AD0101;
    font-family: Titillium Web;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.stock-details h5 {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.stock-details h5 span {
    color: #0CA11B;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
}

.product-code {
    margin: 15px 0;
}

.product-code h5 {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.product-code h5 span {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.color {
    margin: 15px 0;
}

.color h5 {
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin: 0;
}

.color-selections {
    display: flex;
}

.color-selections .red {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: red;
    border: none;
    margin: 10px 10px 10px 0px;
}

.color-selections .green {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: green;
    border: none;
    margin: 10px 0px 10px 0px;
}

.buttoncategory-description {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.buttoncategory-description .plus {
    margin: 0 10px 0 0;
}

.button-corosal-description {
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
}

.stock-details {
    margin: 15px 0;
}

.product-description-main .react-tabs__tab-list {
    max-width: 450px;
    margin: auto;
}

.description-main p {
    color: #000;
    text-align: justify;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 30px 0;
}

.review-inner {
    display: flex;
    width: 100%;
    margin: 30px 0;
}

.review-inner .customer-rating {
    width: 35%;
}

.review-inner .customer-review {
    width: 65%;
}

.review-inner .customer-rating h4 {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

/* Product description : End*/
/* Progressbar */
.review-inner .progres-bar div {
    border-radius: 0;
    margin: 15px 0;
}

.review-1 {
    display: flex;
    justify-content: space-between;
}

.person {
    width: 10%;
}

.person-review {
    width: 90%;
}

.person img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.person-review .heading {
    display: flex;
    align-items: center;
}

.person-review .heading h4 {
    color: #444;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 10px;
}

.person-review .heading h4 span {
    color: #999;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.person-review p {
    width: 530px;
    color: #7F7F7F;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 10px;
}

.customer-review h4 {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.textarea {
    border-radius: 5px;
    border: 1px solid #7F7F7F;
    resize: none;
    padding: 30px;
    outline: 0;
    margin-bottom: 10px;
    width: 75%;

}

.popup-button-textarea {
    display: block;
    text-align: right;
    width: 75%;
}

.popup-button-textarea input {
    border-radius: 10px;
    background: #0370C4;
    color: #FFF;
    font-family: Titillium Web;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    padding: 6px 30px;
}

/* Progressbar : end */

/* Shoppingcart */
.shopping-cart-contents {
    display: flex;
    width: 100%;
}

.cart-items {
    width: 70%;
}

.order-price {
    width: 30%;
}

.shopping-cart-main {
    margin: 30px 0;
}

.shopping-cart {
    color: #212121;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border: 1px solid #EAE6E6;
    background: #FFF;
    height: auto;
    padding: 25px 20px;
}

.added-item-1 {
    display: flex;
}

.added-item-img {
    width: 20%;
    display: flex;
    align-items: center;
}

.added-item-1 img {
    width: 150px;
}

.product-right-cart {
    width: 80%;
}

.delivery-detail h4 {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 10px;
}

.delivery-detail h4 .free {
    color: #0AA02B;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.delivery-detail h5 {
    color: #BBB;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: strikethrough;
    position: relative;
}

.delivery-detail {
    display: flex;
    align-items: center;
}

.delivery-detail h5:after {
    content: "";
    position: absolute;
    background: #E2DFDF;
    width: 34px;
    height: 1px;
    bottom: 8px;
    left: 0;
    margin: 0;
}

.added-item-1 {
    border: 1px solid #F0F0F0;
    padding: 15px 25px;
    margin-bottom: 10px;
}

.cart-buttons button {
    background: transparent;
    border: none;
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 10px 0px 0;
}

.cart-buttons .later {
    margin-right: 40px;
}

/* Shoppingcart : end */